<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <link rel="stylesheet" href="{{ absolute_url(asset('/build/css/date-picker/daterangepicker.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('/build/css/bootstrap.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('/build/css/fontawesome.css'))}}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('/build/css/style.css')) }}" />
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>

<div class="container" style="margin-top: 3em">
    <div class="row">
        <div class="col col-12">
            <h3>Rapport du {{ today | date("d-m-Y") }}</h3>
            <hr>
        </div>
        <div class="col col-12 table-responsive">
            <table class="table table-bordered align-middle">
                <thead>
                <tr style="background-color: #C0dfef">
                    <th>Thématiques Rubriques</th>
                    <th>Nature des Publications</th>
                    <th>Sources</th>
                    <th>Commentaires</th>
                    <th>Lien</th>
                    <th>Requeillant</th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        {% if  categorie.recueils | length > 0 %}
                            <td rowspan="{{ categorie.recueils | length }}">{{ categorie.categorie.nom }}</td>
                            <td style="color: navy">{{ categorie.recueils[0].nature }}</td>
                            <td class="text-uppercase">{{ categorie.recueils[0].source.libelle }}</td>
                            <td>{{ categorie.recueils[0].contenu }}</td>
                            <td><a href="{{ categorie.recueils[0].lienPost }}">Voir la publication originale</a></td>
                            <td>{{ categorie.recueils[0].utilisateur.nom }} {{ categorie.recueils[0].utilisateur.prenom }}</td>

                        {% else %}
                            <td>{{ categorie.categorie.nom }}</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        {% endif %}
                    </tr>
                    {% if  categorie.recueils | length > 1 %}
                        {% for key, recueil in categorie.recueils %}
                            {% if key > 0 %}
                                <tr>
                                    <td style="color: navy">{{ recueil.nature }}</td>
                                    <td  class="text-uppercase">{{ recueil.source.libelle }}</td>
                                    <td>{{ recueil.contenu }}</td>
                                    <td><a href="{{ recueil.lienPost }}">Voir la publication originale</a></td>
                                    <td>{{ recueil.utilisateur.nom }} {{ recueil.utilisateur.prenom }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
<script  src="{{ absolute_url(asset('/build/js/jquery/jquery.js'))}}"></script>
<script src="{{ absolute_url(asset('/build/js/bootstrap.js'))}}"></script>
{% block bottom_js %}
{% endblock %}
</body>
</html>
